/vendor

/build

/opt

/duary-8c5b2-firebase-adminsdk-9d1a5-e86abbedfc.json


########## terraform ##########

*.tfstate.*
*.tfstate

*.tfvars

**/.terraform/*

.terraform.*

**/generated/*

.DB_Store