go 1.22.1

use (
	./appjwt
	./auth
	./shared
	./model
	./fcm
	./scheduler
	./test
	./api/kakao_sign_in
	./api/apple_sign_in
	./api/get_oidc_public_key
	./api/jwt_authorizer
	./api/reissue_token
	./api/connect_couple
	./api/start_duary
	./api/update_member
	./api/send_notification
	./api/delete_event
	./api/save_event
	./api/get_event
	./api/update_event
	./api/dummy_sign_in
	./api/update_couple
	./api/token_sign_in
	./api/sign_out
)
