go 1.22.1

use (
	./appjwt
	./auth
	./shared
	./model
	./fcm
	./scheduler
	./test
	./ws
	./api/kakao_sign_in
	./api/apple_sign_in
	./api/get_oidc_public_key
	./api/jwt_authorizer
	./api/reissue_token
	./api/connect_couple
	./api/start_duary
	./api/update_member
	./api/send_fcm
	./api/delete_event
	./api/create_event
	./api/get_event
	./api/update_event
	./api/dummy_sign_in
	./api/update_couple
	./api/token_sign_in
	./api/sign_out
	./api/get_couple
	./api/google_sign_in
	./api/disconnect_couple
	./api/send_anniversary_fcm
	./api/withdrawal
	./ws_api/connect
	./ws_api/disconnect
	./ws_api/ws_authorizer
)
